<p>Edit content of <%= @file_name %></p>
<form action='/<%= @file_name %>' method='post'>
  <textarea style='clear' name='content' cols=60 rows= 20 /><%= @file_content %></textarea><br>
  <button type='submit' value='Save Changes' />
</form>