<ul>
  <% @files.each do |file| %>
    <li>
      <span>
        <a href='/<%= file %>'><%= file %></a>
        <a href='/<%= file %>/edit'>Edit</a>
        <form class='inline' action='/<%= file %>/delete' method='post'>
          <button type='submit'>Delete</button>
        </form>
      </span>
    </li>
  <% end %>
</ul>

<p><a href='/new'>New Document</a></p>