<!doctype HTML>
<html>
<header>
  <title>Sinatra CMS</title>
</header>

<body>
  <% if session[:error] %>
    <p><%= session[:error] %></p>
    <% session[:error] = nil %>
  <% end %>
  <%= yield %>
</body>
</html>