<!doctype HTML>
<html>
  <title>Sinatra CMS</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/application.css">

  <body>
    <% if session[:message] %>
      <p class='message'><%= session.delete(:message) %></p>
    <% end %>

    <section id='content'>
      <%= yield %>
    </section>
  </body>
</html>