<!doctype HTML>
<html>
<head>
  <title>Sinatra CMS</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>

<body>
  <% if session[:message] %>
    <section id='message'>
      <%= session.delete(:message) %>
    </section>
  <% end %>

  <section id='content'>
    <%= yield %>
  </section>
</body>
</html>