<form action='create' method='post'>
  <label for='file_name'>Add a new document:</label>
  <div>
    <input type='text' id='file_name' name='file_name' placeholder='File Name' />
    <button type='submit'>Create</button>
  </div>
</form>